body {
  background: grey url(../img/wall.jpg) no-repeat center center;
  background-size: cover;
}
main {
  text-align: center;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}
main .wrapper {
  display: inline-block;
  background: rgba(255, 255, 255, 0.2);
  border-radius: 10px;
}
main .wrapper div {
  margin-top: -1px;
}
main .wrapper div kbd {
  width: 4em;
  height: 4em;
  display: inline-block;
  position: relative;
}
main .wrapper div kbd button {
  position: absolute;
  right: 0;
  bottom: 0;
  display: none;
  font-size: 12px;
  opacity: 0.5;
}
main .wrapper div kbd:hover button {
  display: inline-block;
}
main .wrapper div .key {
  width: 50px;
  height: 40px;
  background: linear-gradient(to bottom, #292929 0%, #111111 100%);
  border: 1px solid #373737;
  color: #C5C5C5;
  border-radius: 6px;
  box-shadow: 0 0 0 1px #1A1B1C, 0 0 0 2px #1F2020, 0 3px 0 2px #080808;
  font-size: 16px;
  font-family: Helvetica;
  margin: 0 10px;
}
main .wrapper div .key img {
  width: 16px;
  height: 16px;
  position: absolute;
  left: 4px;
  bottom: 2px;
}
main .wrapper div .key .text {
  position: absolute;
  left: 4px;
  top: 2px;
}
main .wrapper div:nth-child(2) {
  margin-left: -22px;
}
main .wrapper div:nth-child(3) {
  margin-left: -80px;
}
main .wrapper .row {
  margin: 20px;
}
